.default-color0.chart-series-line { -fx-stroke: blue; }
.default-color1.chart-series-line { -fx-stroke: red; }
.default-color2.chart-series-line { -fx-stroke: green; }

#susceptibleLegendItem, #susceptiblePopLabel {
    -fx-text-fill: blue;
}

#infectedLegendItem, #rateOfInfectionLabel, #infectedPopLabel {
    -fx-text-fill: red;
}

#removedLegendItem, #rateOfRemovalLabel {
    -fx-text-fill: green;
}